body 
{
    background-color:tan;
    }

.button {
    background-color: palegoldenrod;
    border: bold;
    border-color: black;
    color: black;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 9px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    position:relative;
    top:20px;
    left:7%;
}

.subbtn {padding: 8px 10px}
.mulbtn {padding: 8px 10px}
.divbtn {padding: 8px 10px}
.btnclr {padding: 8px 6px}

.dispbox {
    background-color:#bccd95;
    padding: 10px 25px;
    font-size: 12px;
    text-align: right;
    position:relative;
    top:15px;
    left:9%;
}
.box
   {
   background-color:#3d4543;
   height:340px;
   width:250px;
   border-radius:15px;
   position:relative;
   top:80px;
   left:40%;
   }